.container
  %h1.my-5.p-3
    タームカード

  %table.table
    %thead
      %tr
        %th
          日付
        %th
          出勤時間
        %th
          退勤時間
        %th
          休憩開始
        %th
          休憩終了
        %th
          休憩時間
        %th
          合計
        %th
          操作
    %tbody
      - @attendances.each do |attendance|
        %tr
          %td
            = attendance.created_at.strftime("%m/%d")
          %td
            - if attendance.clock_in.present?
              = attendance.clock_in.clock_in_time.strftime("%H:%M:%S")
          %td
            - if attendance.clock_out.present?
              = attendance.clock_out.clock_out_time.strftime("%H:%M:%S")
          %td
            - if attendance.rest_in.present?
              = attendance.rest_in.rest_in_time.strftime("%H:%M:%S")
            - else
          %td
            - if attendance.rest_out.present?
              = attendance.rest_out.rest_out_time.strftime("%H:%M:%S")
          %td
            = attendance.rest_time
          %td
            = attendance.working_time
          %td
            %a.btn.btn-primary{href: '#'}
              編集
