.container
  %h1.my-5.p-3
    タームカード

  %table.table
    %thead
      %tr
        %th
          日付
        %th
          出勤時間
        %th
          退勤時間
        %th
          休憩開始
        %th
          休憩終了
        %th
          休憩時間
        %th
          合計
        %th
          操作
    %tbody
      - @attendances.each do |attendance|
        %tr
          %td
            = attendance.created_at.strftime("%m/%d")
          %td
            - attendance.dakokus.each do |dakoku|
              - if dakoku.dakoku_type == 'syukkin'
                = dakoku.dakoku_datetime.strftime("%H:%M:%S")
          %td
            - attendance.dakokus.each do |dakoku|
              - if dakoku.dakoku_type == 'taikin'
                = dakoku.dakoku_datetime.strftime("%H:%M:%S")
          %td
            - attendance.dakokus.each do |dakoku|
              - if dakoku.dakoku_type == 'kyukei_start'
                = dakoku.dakoku_datetime.strftime("%H:%M:%S")
          %td
            - attendance.dakokus.each do |dakoku|
              - if dakoku.dakoku_type == 'kyukei_end'
                = dakoku.dakoku_datetime.strftime("%H:%M:%S")
          %td
            = attendance.rest_time
          %td
            = attendance.working_time
          %td
            %a.btn.btn-primary{href: '#'}
              編集
