.container
  %h1
    Myレコーダー

  .btn-wrapper.d-flex
    = form_for @clock_in, url: clock_ins_path, method: :post do |f|
      = f.submit '出勤', class: 'btn btn-primary'
    = form_for @clock_out, url: clock_outs_path, method: :post do |f|
      = f.submit '退勤', class: 'btn btn-primary'
    = form_for @rest_in, url: rest_ins_path, method: :post do |f|
      = f.submit '休憩始', class: 'btn btn-info'
    = form_for @rest_out, url: rest_outs_path, method: :post do |f|
      = f.submit '休憩終', class: 'btn btn-info'

  .flash_box.mt-5
    = render 'layouts/flash'