!!!
%html
  %head
    %title 勤怠APP
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    :css
      .navbar-contents-wrapper > a {
        margin-right: 10px;
      }
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container.d-flex.justify-content-between
        %a.navbar-brand{href: stores_path} Navbar
        .navbar-contents-wrapper
          %a{href: '#'}
            Myレコーダー
          = link_to 'タイムカード', root_path
          - if employee_signed_in?
            = link_to 'プロフィール変更', edit_employee_registration_path
            = link_to 'ログアウト', destroy_employee_session_path, method: :delete
          - else
            = link_to 'サインアップ', new_employee_registration_path
            = link_to 'ログイン', new_employee_session_path
    = yield
